@import "partials/normalize";
@import "partials/mixin";
@import "partials/nav";
@import "partials/header";
@import "partials/content";
@import "partials/footer";

body{
     width: 100%;

     h1,h2{
      font-family: 'Kaushan Script', cursive;
      }
     p{
       font-family: 'Open Sans', sans-serif;
     }
     a{
       text-decoration: none;
       color: #00AD82;
       font-size: 23px;
     }
}

@import "partials/mediaQ";
