@import "partials/normalize";
@import "partials/nav";
@import "partials/header";
@import "partials/content";
@import "partials/footer";

body{
     margin: auto;
     h1,h2{
      font-family: 'Kaushan Script', cursive;
      }
     p,a{
         font-family: 'Open Sans', sans-serif;
     }
     a,.fa{
            text-decoration: none;
            color: white;
            font-size: 23px;
     }
     .me{
         max-width: 300px;
     }
}

@import "partials/mediaQ";
