main{
              clear:both;
              background: #e5e5e5;
    article{
            padding: 5px 30px 10px 30px;

            .projectPics,.listSection{
                         display: block;
                         width: 80%;
                         padding: 0 10%;
                         a img, ul, .samples{
                           border: 3px solid black;
                         }
                         ul{
                            height: 200px;
                            display: inline-block;
                            width: 40%;
                            margin-left: 30px;
                            li{
                               line-height: 30px;
                            }
                          }
                          a{
                            img{
                                width: 45%;
                                margin: 10px;
                               }
                            }
                        .samples{
                          margin: 10px 0 10px 33px;
                          width: 44%;
                        }
                        .top{
                             float: left;
                        }
            }
                 a,.fa{
                   font-size: 20px;
                   color: #00AD82;
                 }
                 p,a,h3{
                               padding-left: 15px;
                 }
    }
}
