main{
              clear:both;
              background: #e5e5e5;
    article{
            padding: 5px 30px 10px 30px;

            .projectPics,.listSection{
                         display: block;
                         width: 90%;
                         padding: 0 5%;
                         ul{
                            height: 200px;
                            border: 3px solid black;
                            display: inline-block;
                            width: 40%;
                            margin-left: 30px;
                            li{
                               line-height: 30px;
                            }
                          }
                          a{
                            img{
                                width: 45%;
                                border: 3px solid black;
                                margin: 10px;
                               }
                            }
            }
            .samples{
              padding-left: 6%;
            img{
                width: 42%;
                margin: 1% 1%;
                border: 3px solid black;
               }
             }

                 a,.fa{
                   font-size: 20px;
                   color: #00AD82;
                 }
                 .right,p,a,h3{
                               padding-left: 15px;
                 }
    }
}
