footer{
       background: black;
       display: inline-block;
       width: 100%;
       padding: 10px 0px 20px 0px;
       h2,p,.btn:hover{
                          color: #00AD82;
       }
       .footerLeft{
                   padding-left: 30px;
                   float: left;
                  }
       .footerRight{
                    clear: left;
                    display: inline-block;
                    padding-left: 51px;
                  }
       .btn{
               background: #348099;
               color: white;
               border: none;
               padding: 10px;
       }
       .btn:hover{
                     background: white;
       }
}
