footer{
       background: black;
       display: inline-block;
       width: 100%;
       padding: 10px 0 20px 0px;
       h2,p{
         color: #00AD82;
       }
       span{
           color: white;
           .fa{
               font-size: 40px;
               padding:10px 0 0 80px;
               
               animation: arrowHover 15s ease-in-out infinite alternate;
               -webkit-animation: arrowHover 15s ease-in-out infinite alternate;
               -moz-animation: arrowHover 15s ease-in-out infinite alternate;
               -o-animation: arrowHover 15s ease-in-out infinite alternate;

               @include arrowHover;
           }
           .fa-arrow-down{
                          display: none;
           }
       }
       .footerLeft{
                    width: 30%;
                    float: left;
                    padding: 0 25px 0 55px;
       }
       .footerMiddle{
                     float: left;
                     width: 30%;
                     padding-top: 15px;
       }
       .footerRight{
                    clear: left;
                    display: inline-block;
                    width: 30%;
                    padding-left: 28px;
       }
       .button{
               background: #348099;
               color: white;
               border: none;
               padding: 10px;
       }
       .btnTwo{
               margin-left: 20px;
       }
       .button:hover{
                     background: white;
                     color: #00AD82;
       }
}
