header{
       background: #00AD82;
  article{
          width: 100%;
          padding: 70px 0px 30px 0px;

          aside{
                float: left;
                width: 30%;
                padding: 0 50px 0 35px;

              h1{
                 text-align: center;
                 border-bottom: 2px solid white;
               }
               h3{
                 padding-left: 15px;
               }
        }
          section{
                  clear: both;
                  .codepen{
                          display: inline-block;
                          width: 62%;
                          padding: 10px 0 0 0px;
                          clear: left;
                  }
      }
    }
}
