@media(max-width: 480px){
  body{
       header{
       .leftSide,.codepen,.rightSide{
                                              display: block;
                                              width: 93%;
                                              padding-left: 20px;
                                            }
                                          }
      }
  nav{
      .desktop{
               display: none;
              }
              .dropBtn{
                       display: block;
              }
      .dropDown{
        display: block;
      }
       .dropDown:hover .dropContent {
                                     display: block;
                                    }
  }
  main{
                article{
                        .leftSide{
                              img{
                                  width: 100%;
                                  padding: 0 10% 20px;
                                 }
                             }
                        .projectPics,.listSection{
                            padding: 0;
                          ul{
                             width: 80%;
                             h3,a,.fa{
                                padding: 0;
                             }
                           }
                           a{
                             img{
                                 width: 100%;
                                 margin: 20px 0;
                                }
                             }
                                }
                       }
  }
  footer{
          h2,p{
               padding-left: 30px;
              }
         .footerLeft,.footerRight{
                                  display: block;
                                  padding:5px 0 10px 0px;
                                  form{
                                        padding-left: 30px;
                                        p{
                                          padding: 0;
                                         }
                                        }
         }
   }
}

@media(min-width: 481px)and(max-width: 768px){
  body{
       header{
       .leftSide,.codepen,.rightSide{
                                              display: block;
                                              width: 93%;
                                              padding-left: 4%;
                                            }
                                          }
      }
      nav{
          .desktop{
                   display: none;
                  }
                  .dropBtn{
                           display: block;
                  }
          .dropDown{
                    display: block;
          }
          .dropDown:hover .dropContent {
                                         display: block;
                                        }
      }
      main{
                    article{
                            .leftSide{
                                  img{
                                      width: 100%;
                                      padding: 0 10% 20px;
                                     }
                                 }
                            .projectPics,.listSection{
                                padding: 5px;
                              ul{
                                 width: 80%;
                                 margin-left: 5%;
                               }
                               a{
                                 img{
                                     margin: 20px 0;
                                     width: 100%;
                                    }
                                 }
                                    }
                           }
      }
    #project{
             .right,.left{
                          display: block;
                          width: 100%;
                         }
             p{
               width: 100%;
              }
              a{
                display: inline-block;
              }
             #ptfgDetails,#grDetails,
             #sDetails,#bDetails{
                                 overflow-x: auto;
                                 height: 1000px;
                                }
             #grDetails{
                        .desktop{
                                 display: none;
                                }
                        .tabletMobile{
                                      display: block;
                                     }
                        a{
                          padding: 0;
                         }
                       }
            }
   footer{
          .footerRight{
                       margin-right: 150px;
                       display: block;
                      }
        }

}
@media(min-width: 769px)and(max-width: 1000px){
  body{
       header{
       .leftSide,.codepen,.rightSide{
                                              display: block;
                                              width: 93%;
                                              padding-left: 4%;
                                            }
                                          }
      }
  main{
                article{
                        .leftSide{
                                  img{
                                      padding-left: 15%;
                                    }
                              }
                              .projectPics,.listSection{
                                  padding: 5px;
                                  width: 100%;
                                ul{
                                   width: 80%;
                                   margin-left: 5%;
                                 }
                                 a{
                                   img{
                                     width: 45%;
                                       margin: 20px 0;
                                      }
                                   }
                                      }
                             }
                       }
  }

@media(max-width: 1200px){


}
