@media(max-width: 480px){
  body{
       p{
         font-size: 18px;
         line-height: 1.5;
       }
       header{
       .leftSide,.codepen,.rightSide{
                                      display: block;
                                      width: 93%;
                                      padding-left: 10px;
                                      img{
                                          width: 80%;
                                      }
                                            }
             }
      }
      nav{
          .desktop{
                   display: none;
                  }
                  .dropDown{
                           position: relative;
                           display: inline-block;
                         }
          .dropDown:hover .dropContent {
                                         display: block;
                                        }
      }
  main{
       article{
                .projectPics,.listSection{
                                          padding: 0;
                                          width: 100%;
                          ul{
                             width: 90%;
                             margin-left: 0;
                           }
                           a{
                            padding: 0;
                             img{
                                 width: 95%;
                                 margin: 20px 0;
                                }
                             }
                             .samples{
                                      display: block;
                                      width: 100%;
                                      margin: 20px 0;
                                     }
                                }
                       }
  }
  footer{
          h2,p{
               padding-left: 30px;
              }
   }
}

@media(min-width: 481px)and(max-width: 768px){
  body{
       header{
       .leftSide,.codepen,.rightSide{
                                     display: block;
                                     width: 93%;
                                     padding-left: 4%;
                                     img{
                                        width: 90%;
                                        padding: 0;
                                     }
                                    }
            }
      }
      nav{
          .desktop{
                   display: none;
                  }
                  .dropDown{
                           position: relative;
                           display: inline-block;
                         }
          .dropDown:hover .dropContent {
                                         display: block;
                                        }
      }
      main{
                    article{
                            .leftSide{
                                  img{
                                      width: 100%;
                                      padding: 0 10% 20px;
                                     }
                                 }
                            .projectPics,.listSection{
                                padding: 5px;
                                width: 100%;
                              ul{
                                 width: 92%;
                                 margin: 10px 0;
                               }
                               a{
                                 padding: 0;
                                 img{
                                     margin: 20px 0;
                                     width: 100%;
                                    }
                                 }
                                .samples{
                                         display: block;
                                         width: 100%;
                                         margin: 10px 0;
                                         }
                                    }
                           }
      }
}
@media(min-width: 769px)and(max-width: 1100px){
  body{
       header{
       .leftSide,.codepen,.rightSide{
                                              display: block;
                                              width: 93%;
                                              padding-left: 4%;
                                            }
                                          }
      }
  main{
                article{
                        .leftSide{
                                  img{
                                      padding-left: 15%;
                                    }
                              }
                              .projectPics,.listSection{
                                ul{
                                   width: 80%;
                                   margin-left: 5%;
                                 }
                                 a{
                                   img{
                                     width: 45%;
                                       margin: 20px 0;
                                      }
                                   }
                                   .samples{
                                     display: block;
                                     width: 90%;
                                   }
                                      }
                             }
                       }
  }

@media(min-width: 1200px){
  body,nav{
       width: 1200px;
  }
}
