@media(min-width: 400px)and(max-width: 768px){
  nav{
    .desktop{
            display: none;
            }
              .dropbtn {
                      color: white;
                      border: none;
                      cursor: pointer;
                      text-align: center;
                    }

                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                    .dropContent {
                                   display: none;
                                   position: absolute;
                                   width: 100%;

                                   li{
                                      display: block;
                                      width: 100%;
                                      background: black;
                                      padding: 5px 0px 15px 0px;
                                      .fa{
                                          font-size: 40px;
                                          padding:0px  50px 0px 20px;
                                          }
                                      }
                                    }
                  .dropdown:hover .dropContent {
                                                  display: block;
                                                  }
  }
  header{
    article{
            padding-left: 0;
            section{
                    .codepen{
                            display: block;
                            width: 95%;
                            padding-left: 10px;
                    }
            aside{
                  display: block;
                  width: 100%;
                  padding: 0;
          }
        }
      }
  }
  main{
      article{
              aside{
                    display: block;
                    width: 80%;
                    padding-left: 40px;
                    img{
                        width: 100%;
                        padding-left: 0px;
                    }
              }
              section{
                      display:block;
                      width: 100%;
                      padding: 30px 0 0 0px;
                      img{
                          width: 100%;
                          border: 3px solid black;
                      }
                      .leftCol{
                               padding-right: 0px;
                               width: 100%;
                               display: block;
                      }
                      .rightCol{
                                padding-top: 20px;
                                width: 100%;
                                display: block;
                      }
              }
      }
  }
  footer{
          h2,p{
            padding-left: 30px;
           }
         .footerLeft,.footerMiddle,.footerRight{
                                                display: block;
                                                width: 100%;
                                                padding:5px 0 10px 0px;
                                                form{
                                                     padding-left: 30px;
                                                     p{
                                                      padding: 0;
                                                     }
                                                }
         }
         .footerMiddle{
                       .fa{
                           padding: 10px 0 0 0;
                           margin-left: 100px;

                           animation: arrowHover 15s ease-in-out infinite alternate;
                           -webkit-animation: arrowHover 15s ease-in-out infinite alternate;
                           -moz-animation: arrowHover 15s ease-in-out infinite alternate;
                           -o-animation: arrowHover 15s ease-in-out infinite alternate;
                           @include arrowHoverMobile;
                       }
                       .fa-arrow-right{
                                       display: none;
                       }
                       .fa-arrow-down{
                                      display: block;
                       }
                     }
         .button{
                 padding: 20px;
         }
         .btnTwo{
                 margin-left: 40px;
         }
  }
}

@media(min-width: 769px)and(max-width: 1200px){
  nav{
    .desktop{
            display: block;
            li{
               width: 23%;
              }
            }
          }
  header{
         article{
           display: inline-block;
                section{
                        .codepen{
                                 width: 55%;
                                 padding-left: 25px;
                            }
                    aside{
                          width: 40%;
                          padding: 0;
                          overflow: auto;
                          height: 310px;
                        }
                      }
                  }
          }
    main{
         article{
                 aside{
                            display: inline-block;
                            img{
                                width: 100%;
                                padding-left: 0px;
                            }
                      }
                      section{
                              padding: 30px 0 0 30px;
                              img{
                                  width: 100%;
                                  border: 3px solid black;
                              }
                              .leftCol{
                                       padding-right: 0px;
                                       width: 100%;
                                       display: block;
                              }
                              .rightCol{
                                        padding-top: 20px;
                                        width: 100%;
                                        display: block;
                              }
                      }
              }
          }
  footer{
          h2,p{
                padding-left: 30px;
                   }
                 .footerLeft,.footerMiddle,.footerRight{
                                                        padding:5px 0 10px 0px;
                                                        form{
                                                             padding-left: 30px;
                                                             p{
                                                              padding: 0;
                                                             }
                                                        }
                 }
                 .button{
                         padding: 20px;
                 }
                 .btnTwo{
                         margin-left: 40px;
                 }
          }
}
