nav{
  background: black;
  border-bottom: 2px solid white;
  position: fixed;
  width: 100%;
  z-index: 100;
    ul{
       list-style-type: none;
       width: 100%;
       padding: 0;
       margin: 0;
       li{
          display: inline-block;
          text-align: center;
          line-height: 50px;
          width: 23%;
          a,.fa{
               font-size: 25px;
               }
          a:hover,.fa:hover{
                            color: #00AD82;
                          }
          .fa{
              padding-right: 30px;
             }
        }
    .active{
            background: #348099;
            a{
              color: #e5e5e5;
            }
      }
    }
    .mobile,.dropDown,.dropContent{
                                    display: none;
    }
    .dropBtn{
              color: white;
              cursor: pointer;
              text-align: center;
             }
    .dropDown {
               position: relative;
              }
    .dropContent {
                  position: absolute;
                  width: 100%;
                  background: black;
                  li{
                     display: block;
                     width: 100%;
                     padding: 5px 0px 15px 0px;
                     .fa{
                         font-size: 40px;
                         padding:0px  50px 0px 20px;
                         }
                     }
                  }
}
